# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.env/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# MacOS
.DS_Store

# diagnoses csv file is too big to be uploaded to GitHub
Data/diagnoses_icd.csv
Data/admissions.csv
Data/patients.csv